.postContentHidden
{
    display : none;
}
.greyButton
{
    background : grey;
    color : white;
}
h4
{
    font-size : 1.3em;
    text-align : center;
    text-decoration : underline;
    color : gray;
    margin-bottom : 20px;
}
.onePostDate
{
    font-style : italic;
    color : gray;
}
label
{
    margin-right : 10px;
}
textarea
{
    width : 100%;
}
.writeCommentForm
{
    background : #ddd;
    padding : 15px;
    border-radius : 15px;
}
.boutonSuppr, .boutonModif
{
    margin-top : -200px !important; /* marche a peine (décale de deux trois pixels) */
}
.connexion
{
    padding : 10px;
}
.connexion label
{
    margin-right : 5px;
}
.navPages
{
    text-align : right;
    color : #da0;
}
.navPages > p > *
{
    color : white;
    background : #da0;
    padding : 5px;
    border-radius : 7px;
    margin-right : 5px;
}
.navPages > p > *:focus, .navPages > p > *:hover
{
    text-decoration : none;
}
.pageActuelle
{
    background : #fed !important;
    border : 1px solid #da0;
    color : #da0 !important;
}
.dernier
{
    margin-bottom : 25px;
    color : #6a6a6a;
}
.discret
{
    font-variant : small-caps;
    padding-right : 10px;
    color : #dbb850;
}
.bulle
{
    display : block;
    margin :5px;
    margin-top : 0px;
    margin-bottom : 20px;
    border-radius : 20px;
    padding : 10px;
    background : #fffcbb;
    color : black;
}
bulle:focus, bulle:hover, a.bulle:focus, a.bulle:hover
{
    color : black !important;
    text-decoration : none;
    background : #e3dea0;
    font-style : italic;
}
article
{
    /*border-bottom : 1px solid #cdcded;*/
}
section
{
    padding-top : 20px;
    background : white;
}
h1
{
    margin-bottom : 0px;
}
body
{
    font-family : "Times New Roman";
    background : #101040;
    /*background : url(../images/cuirNoir/fond-cuir-noir.jpg) repeat;*/
}
.fondBleu
{
    /*background : rgba(80, 80, 200, 0.5);*/
}
footer
{
    background : #cdcded;
    color : #7777c0;
    /*margin-top : 10px;*/
}
.ulfooter
{
    padding : 30px !important;
    padding-bottom : 15px !important;
}
.container
{
    /*background : rgba(20, 20, 100, 0.5);*/
}
[class*="col-"]
{
    /*border : 1px solid black;*/
}
.enTete
{
    font-size : 30px;
    color : #8888d0;
    text-align : center !important;
    background : #cdcded;
    font-weight : bold;
    padding : 20px;
}
.enTete > a
{
    color : #8888d0;
}
.enTete > a:focus, .enTete > a:hover
{
    color : #8888d0 !important;
    text-decoration : none;
}
.centrer
{
    text-align : center;
}
@media (min-width : 1500px) /* 2 fois 8in */
{
    .container
    {
        max-width : 1500px;
    }
    
    /* création dimension xxl, dépendant elle de la taille en pouces. Elle permettra nottament de dédoubler la zone de lecture sur très grand écran pour le confort de lecture. */
    
    .col-xxl
    {
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
        -ms-flex-positive: 1;
            flex-grow: 1;
        max-width: 100%;
    }
    .col-xxl-auto
    {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .col-xxl-1
    {
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-xxl-2
    {
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-xxl-3
    {
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xxl-4
    {
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-xxl-5
    {
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-xxl-6
    {
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xxl-7
    {
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-xxl-8
    {
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-xxl-9
    {
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xxl-10
    {
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-xxl-11
    {
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-xxl-12
    {
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
        max-width: 100%;
    }
    .order-xxl-1
    {
        -ms-flex-order: 1;
            order: 1;
    }
    .order-xxl-2
    {
        -ms-flex-order: 2;
            order: 2;
    }
    .order-xxl-3
    {
        -ms-flex-order: 3;
            order: 3;
    }
    .order-xxl-4
    {
        -ms-flex-order: 4;
            order: 4;
    }
    .order-xxl-5
    {
        -ms-flex-order: 5;
            order: 5;
    }
    .order-xxl-6
    {
        -ms-flex-order: 6;
            order: 6;
    }
    .order-xxl-7
    {
        -ms-flex-order: 7;
            order: 7;
    }
    .order-xxl-8
    {
        -ms-flex-order: 8;
            order: 8;
    }
    .order-xxl-9
    {
        -ms-flex-order: 9;
            order: 9;
    }
    .order-xxl-10
    {
        -ms-flex-order: 10;
            order: 10;
    }
    .order-xxl-11
    {
        -ms-flex-order: 11;
            order: 11;
    }
    .order-xxl-12
    {
        -ms-flex-order: 12;
            order: 12;
    }
}